<ion-header>
  <ion-toolbar color="dark">
    <ion-title>A propos de moi</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="background">
  <h1 class="ion-text-center">Qui suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin-top" size="3">
        <img src="/assets/images/ahri.jpg" alt="">
      </ion-col>
      <ion-col size="9">
        <p>Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a
          type specimen book. It has survived not only five
          centuries, but also the leap into electronic typesetting
          maining essentially unchanged. It was popularised in the
          1960s with the release of Letraset sheets containing Lorem
          Ipsum passages, and more recently with desktop publishing
          software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">Mon parcours</h1>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais,
          tu vois au passage qu'il n'y a rien de concret car c'est juste une question
          d'awareness et c'est une sensation réelle qui se produit si on veut ! Donc on n'est
          jamais seul spirituellement !<br><br>

          You see, ce n'est pas un simple sport car le cycle du cosmos
          dans la vie... c'est une grande roue et ça, c'est très dur, et, et, et...
        c'est très facile en même temps. Donc on n'est jamais seul spirituellement !<br><br>

          You see, là on voit qu'on a beaucoup à travailler sur nous-mêmes
          car il faut toute la splendeur du aware et finalement tout refaire depuis le début.
        C'est pour ça que j'ai fait des films avec des replicants.</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
