
ion-title{
  color: #F0DB33;
  text-align: center;
  font-weight: bolder;
}

ion-card{
  height: 168px;
}


.wf-champion-name{
  font-family:  sans wf,sans-serif;
  font-weight: 900;
  color: #C9B831;
  font-size: 14px;
  font-style: italic;
  background: #222428;

}





